<?xml version="1.0" encoding="UTF-8"?>
<launch>
<group>
  <!-- node pkg="tf" type="static_transform_publisher" name="zed_camera_broadcaster"
        args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 camera zed_current_frame 100"/-->

  <!--node pkg="tf" type="static_transform_publisher" name="left_frame_publisher" args="0 0 0 0 0 0 zed_current_frame ZED_left_camera 100" /-->

    <group ns="camera">
        <arg name="svo_file"              default="" />
        <arg name="publish_tf"            default="false" />
        <arg name="odometry_frame"        default="odom" />
        <arg name="base_frame"            default="ZED_center" />
        <arg name="camera_frame"          default="ZED_left_camera" />
        <arg name="depth_frame"           default="ZED_depth_camera" />
        <arg name="publish_urdf"          default="false" />

        <node respawn="true" output="screen" pkg="zed_wrapper" name="zed_node" type="zed_wrapper_node">

            !-- publish odometry frame -->
            <param name="publish_tf"            value="$(arg publish_tf)" />
            <!-- Configuration frame camera -->
            <param name="odometry_frame"        value="$(arg odometry_frame)" />
            <param name="base_frame"            value="$(arg base_frame)" />
            <param name="camera_frame"          value="$(arg camera_frame)" />
            <param name="depth_frame"           value="$(arg depth_frame)" />
            <!-- SVO file path -->
            <param name="svo_filepath"          value="$(arg svo_file)" />

            <!-- ZED parameters -->
            <param name="zed_id" value="0"/>

            <param name="resolution" value="3"/>
            <param name="quality" value="1"/>
            <param name="sensing_mode" value="0"/>
            <param name="frame_rate" value="30"/>
            <param name="odometry_db" value=""/>
            <param name="openni_depth_mode" value="0"/>
            <param name="gpu_id" value="-1"/>
            <!-- TODO: what do these two new parameters do? -->
            <param name="confidence"            value="100" />
            <param name="depth_stabilization"   value="1" />

            <!-- ROS topic names -->
            <param name="rgb_topic" value="rgb/image_rect_color"/>
            <param name="rgb_raw_topic" value="rgb/image_raw_color"/>
            <param name="rgb_cam_info_topic" value="rgb/camera_info"/>
            <param name="rgb_cam_info_raw_topic"    value="rgb/camera_info_raw" />

            <param name="left_topic" value="left/image_rect_color"/>
            <param name="left_raw_topic" value="left/image_raw_color"/>
            <param name="left_cam_info_topic" value="left/camera_info"/>
            <param name="left_cam_info_raw_topic"   value="left/camera_info_raw" />

            <param name="right_topic" value="right/image_rect_color"/>
            <param name="right_raw_topic" value="right/image_raw_color"/>
            <param name="right_cam_info_topic" value="right/camera_info"/>
            <param name="right_cam_info_raw_topic"  value="right/camera_info_raw" />

            <param name="depth_topic" value="depth/depth_registered"/>
            <param name="depth_cam_info_topic" value="depth/camera_info"/>

            <param name="point_cloud_topic" value="point_cloud/cloud_registered"/>

            <param name="odometry_topic" value="odom"/>
        </node>
        <node pkg="image_transport" type="republish" name="zed_camera_feed_fixer" args="raw in:=rgb/image_rect_color out:=rgb_fixed" />
    </group>

    <node name="zed_transform" pkg="zed_wrapper" type="zed_transform" output="screen" >
      <rosparam param="output_frame"> "camera" </rosparam>

      <remap from="/input_pointcloud" to="/camera/point_cloud/cloud_registered"/>
      <remap from="/output_pointcloud" to="/camera/point_cloud/cloud_registered_rotated"/>
    </node>

</group>
</launch>
